
.container{
    
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: #EEE;
    padding: 20px;

}

.title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}



.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.container form input{
    width: 50%;
    margin: 2px;
    padding: 10px;
    outline: 0;
}

.container fieldset{
    width: 50%;
    border: 1px solid red;
    margin-top: 20px;
    padding: 10px;
}

.container  select{
    width: 100%;
    margin: 2px;
    padding: 10px;
    outline: 0;

}

.label{
    text-align: left;
}


@media (max-width: 700px){
    
    .container form input{
        width: 100%;
    }

    .container fieldset{
        width: 100%;
 
    }
  
}