
.formAddProd{
    width: 100%;
    height: 500px;
    background-color: #DDD;
    padding: 20px;
}

.formAddProd .input{
    box-shadow: none;

}

.btn Button{
    margin-top: 20px;
    width: 10%;
    
}

.IconTrash{
    font-size: 26px;
    color: red;
    cursor: pointer;
}
.IconEdit{
    font-size: 26px;
    color: #2E8B57;
    cursor: pointer;
}

.formAddProd span {
    padding: 5px;
    color: red;
}
.botGeradores{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.BotCodBarras{
    margin-left: 10px;
}

@media(max-width:760px){
    .formAddProd{
        height: 100%;
    }
    .btn Button{
        width: 100%;
    }
    .botGeradores{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .botGeradores button{
        width: 100%;
        margin-bottom:10px
    }
    .BotQrCode{
        width: 100%;

    }

    .BotCodBarras{
        width: 100%;
        margin:0px;

    }
    .BotCodBarras  button {
        padding:20px;
    }
    .BotQrCode  button {
        padding:20px;
    }




}